Body{
    background-color: grey;
}

nav ul {
    list-style-type: none;
    text-decoration: uppercase;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
}
nav ul li {
    text-decoration: none;
}
.section about {
    padding: 0;
    margin: 10%;
    width: 70vh;
    height: 60vh;
}
article{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
}
.lines{
    height: 60px;
    width: 50vh;
    
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.mySlides {
    display: none;
  }